@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
