@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  padding: 1rem;
}
p {
  padding: 0.5rem;
}
hr {
  margin: 2rem;
  border-radius: 22px;
}